.picture {
  float: left;
  margin-right: 20px;
}

.summary {
  text-align: left;
  font-size: x-large;
}

.title {
  float: top;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.labelledPicture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snapshotContainer {
  float: left;
}
