.currentSnapshot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchButton {
  font-size: large;
}

.compositeSnapshot {
  display: flex;
  justify-content: center;
  align-items: center;
}
